<% include ./partials/header.ejs %>

<div class="container pad-top">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>My Blog</h1>
      <a class="new-post btn btn-primary" href="/new">Create New Post</a>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>
